@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Подтверждение смены пароля</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <hr />
        @Html.ValidationSummary(false)
        <div>
            <p>На ваш электронный адрес отправлено письмо со ссылкой для смены пароля. Пожалуйста, проверьте вашу почту.</p>
            <p>Если вы не получили данное письмо, нажмите @Html.ActionLink("cюда", "ForgotPassword", "Account")</p>
        </div>
    </div>
}