@model bLibrary.Models.Identity.ForgotPasswordModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Сменить пароль</h2>
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        <hr />
        <div>
            @Html.LabelFor(x => x.Email)
            <div>
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <br />
        <div>
            <div>
                <input style="width: 170px" type="submit" value="Отправить сообщение" />
            </div>
        </div>
    </div>
}