@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Панель администратора</h2>
@using (Html.BeginForm("AdminPanel", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        <hr />
        <div>
            <table width="100%">
                <tr>
                    <td>
                        <table border="1" width="400px">
                            @foreach (var user in ViewBag.Users)
                            {
                                <tr>
                                    <td style="border: 1px solid">@user.UserName</td>
                                    <td style="border: 1px solid"><input style="float: right" type="button" value="Изменить" onclick="location.href='/Role/GetEditRole/@user.Id'" /></td>
                                </tr>
                            }
                        </table>
                    </td>
                    <td>
                        <table border="1" width="850px">
                            <tr>
                                <td>@Html.ActionLink("Создать книгу", "GetCreateBook", "Book")</td>
                            </tr>
                            @foreach (var book in ViewBag.Books)
                            {
                                <tr>
                                    <td style="border: 1px solid">@book.Name</td>
                                    <td style="border: 1px solid"><input style="float: right" type="button" value="Изменить" onclick="location.href='/Book/GetEditBook/@book.BookId'" /></td>
                                    <td style="border: 1px solid"><input style="float: right" type="button" value="Удалить" onclick="location.href='/Book/DeleteBook/@book.BookId'" /></td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}